<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <div class="container">
  <h2>Welcome</h2>
  <h3>Movie List</h3>
  <%=JSON.stringify(users)%>
  <br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Movie Name</th>
    </tr>
  </thead>
  <tbody>
    <% movies.forEach(movie =>{ %>
    <tr>
      <td><%=movie.id%></td>
      <td><%=movie.movie_name%></td>
      <td><a href="/users/rating/<%= users[0].id%>/<%= movie.id%>">Rate this movie</a>
    </tr>
  <% }) %>
  </tbody>
</table>
</div>
</body>
</html>
