<!DOCTYPE html>
<html lang="en">

<head>
  <title>Input Score</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


  <style>
    form {
      width: 100px;
    }

    button {
      border: 0;
      background: transparent;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      float: right;
    }

    button:hover,
    button:hover+button,
    button:hover+button+button,
    button:hover+button+button+button,
    button:hover+button+button+button+button {
      color: #faa;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3>Welcome <%=users[0].username%></h3>
    <%=JSON.stringify(movies)%>
      <h5><a href="/subjects">Return to Subject List</a></h5>
      <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Movie Name</th>
        <th>Release</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%=movies[0].movie_name%>
        </td>
        <td>
          <%=movies[0].release_year%>
        </td>
        <td>
          <%=movies[0].company%>
        </td>
        <td>
          <form action="/users/rating/<%= users[0].id%>/<%= movies[0].id%>" method="post">
            <!-- <input type="hidden" name="rating" value="3"> -->
            <button type="submit" name="rating" value="5">&#9733;</button>
            <button type="submit" name="rating" value="4">&#9733;</button>
            <button type="submit" name="rating" value="3">&#9733;</button>
            <button type="submit" name="rating" value="2">&#9733;</button>
            <button type="submit" name="rating" value="1">&#9733;</button>

          </form>
        </td>
      </tr>
    </tbody>
  </table>
  </div>




</body>

</html>
